html {
	font-family: "PT Serif", "微軟正黑體", Georgia, "Times New Roman", serif;
 	width: auto;
 	background-color: #C1DCDD;
  	font-family: 'Noto Sans TC', sans-serif;
  	margin: 0 auto;
}


#top{
	position: relative;
	width: auto;
	height: 80px;
	background-color: #006F72;
	padding: 20px 0 0 0;
	margin: 0 auto;
}

#main {
	position: relative;
	width: 95%; /*310px 80%*/
	max-width: 700px;
	margin: 20px auto;
	background-color: #FFFFFF;
	border-radius: 20px 20px 20px 20px;
	padding: 20px 0;
}

#logo {
	position: relative;
	max-width: 150px;
	display: block;
  	margin: 10px auto;
}

#submit{
	position: relative;
	margin: 10px 80%;
	display: block;
	font-size: 18px;
}

input{
	outline-style: none ;
    border: 1px solid #ccc; 
    border-radius: 3px;
    background-color: #E9E9E9;
    font-size: 18px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


h6 {
	font-family: "PT Serif", "微軟正黑體", Georgia, "Times New Roman", serif;
	font-size: 22px;
	margin: 20px 0 5px 0;
	letter-spacing: 1px;
	text-align: left;
}

body {
	font-family: "PT Serif", "微軟正黑體", Georgia, "Times New Roman", serif;
	font-size: 18px;
 	margin: 0 auto;
 	letter-spacing: 1px;
 	text-align: left;
}

p, ol {
	font-family: "PT Serif", "微軟正黑體", Georgia, "Times New Roman", serif;
  	text-align: left;
  	line-height: 2;
  	letter-spacing: 1px;
}
