html {
	font-family: "PT Serif", "微軟正黑體", Georgia, "Times New Roman", serif;
 	width: auto;
 	background-color: #C1DCDD;
  	font-family: 'Noto Sans TC', sans-serif;
  	margin: 0 auto;
}


#top{
	position: relative;
	width: auto;
	height: 80px;
	background-color: #006F72;
	padding: 20px 0 0 0;
	margin: 0 auto;
}

#main {
	position: relative;
	width: 90%; /*310px 80%*/
	margin: 20px auto;
	background-color: #FFFFFF;
	border-radius: 20px 20px 20px 20px;
	padding: 20px 0 20px 0;
}

#logo {
	position: relative;
	max-width: 150px;
	display: block;
  	margin: 0 auto;
	padding: 10px 10px 10px 10px;
}

#submit{
	position: relative;
	padding: 10px 10px 10px 10px;
	margin: right auto;
}

h6 {
	font-family: "PT Serif", "微軟正黑體", Georgia, "Times New Roman", serif;
	font-size: 18px;
	margin: 20px 0 5px 0;
	letter-spacing: 1px;
	text-align: left;
}

body {
	font-family: "PT Serif", "微軟正黑體", Georgia, "Times New Roman", serif;
	font-size: 16px;
 	margin: 0 auto;
 	letter-spacing: 1px;
 	text-align: left;
}

p, ol {
	font-family: "PT Serif", "微軟正黑體", Georgia, "Times New Roman", serif;
  	text-align: left;
  	line-height: 2;
  	letter-spacing: 1px;
}
